body {
 margin: 0;
 border: 0;
 font-family: OpenSans;
  -webkit-appearance: none;
 -moz-appearance: none;
}

.header {
  position: relative;
  background-size: cover;
  top: 0;
  left: 0;
  background-image: url("images/footbal_1920.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  opacity: 0.6; 
}

.container {
  height: 956px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  
  width: 1170px;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;
  }

.header-logo {
  position: relative;
  top: 0;
  left: 0;
  width: 180px;
}