@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body {
 margin: 0;
 border: 0;
 font-family: OpenSans;
 line-height: 1.2;
-webkit-appearance: none;
-moz-appearance: none;
}

h1 {
  font-size: 90px;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
   font-size: 80px;
   color: #e7e7e7;
   margin: 0;
   font-weight: bold;
   text-transform: uppercase;
}

h3 {
   font-size: 36px;
   color: #c1c1c1;
   margin: 0;
   line-height: 0.8;
   font-weight: bold;
   text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.4;
   color: #000000;
   margin-top: 25px;
   font-weight: normal;
   text-transform: none;
}

body {
  margin-left: auto;
  margin-right: auto;
}

.text-white {
  color: #efefef;
}
/*----------------------- HEADER ----------------------------------------------*/

.header, .footer {
  position: relative;
  top: 0;
  left: 0;
  background-color: #0a0e34;
  }

  .header::after {
  content: "";
  background-color: #0a0e34;
  background-size: cover;
  background-image: url("https://yarno-yarva.github.io/diplom/images/football_1920.jpg"), url(images/football_1920.jpg);;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  opacity: 0.1; 
  
} 

.container {
  height: 956px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  }

.header-logo {
  position: relative;
  width: 184px;
  height: 53px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  fill: #ffffff;
}

.header-title {
 width: 80%;
display: flex;
flex-direction: column;
}

.header-title-down {
  margin-left: 30%;
}

.market-buttons {
  display: flex;
  padding-bottom: 110px;
}

.market-button-apple, .market-button-google {
  width: 310px;
  height: 77px;
  background-color: #5e42b0;
  border-radius: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.market-button-apple{
  margin-right: 40px;
}

.logo-apple, .logo-google {
   width: 45px;
   fill: #ffffff;
}
.button-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 28px; 
}

.button-text-bold {

 font-weight: bold;
}

/*-------------------------- MAIN -----------------------------*/

/*-----------------------Athlets -------------------*/
.athlets {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
 }

.athlets::after {
  content: "";
  background-image: url("https://yarno-yarva.github.io/diplom/images/footballer_566.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; top;
  position: absolute;
  top: 20px;
  height: 908px;
  left: -566px;
  right: 0;
  bottom: 0;
  z-index: 3; 
  }

.athlets-title {
  margin-top: 100px;
  margin-left: 48px;
}

.block-color-0 {
  width: 100%;
  background-color: #ffffff;
}

.block-color-1{
  width: 100%;
  background-color: #ffffff;
 }

.block-color-2{
  width: 100%;
  background-color: #f6f4fa;
 }

.block-color-3{
  width: 100%;
  background-color: #5e42b0;
 }

.block-color-4{
  width: 100%;
  background-color: #14163b;
 }


.athlets-content{
  width: 50%;
  margin-left: 50%;
  z-index: 1;
}


.connection {
  margin-top: 90px;
  margin-left: 48px;
  margin-bottom: 10px;
  display: flex;
}

.number {
font-size: 18px;
font-weight: bold;
color: black;
position: relative;
margin-right: 10px;
top: 0;
left: 0; 
}

.number::before {
  content: "";
  position: absolute;
  display: block;
  top: 22px;
  left: 0;
  width: 20px;
  height: 5px;
  background-color: #5e42b0;
  border-radius: 5px;
}

.line-white::before {
   background-color: #efefef;
 }

.violete {
  color: #9173e6;
}

.collaboration, .growth{
  margin-top: 53px;
  margin-left: 48px;
  margin-bottom: 10px;
  display: flex;
}

.athlets-text {
   max-width: 700px;
   margin-left: 48px;
   margin-bottom: 50px;
}

/*---------------------- Players ---------------------------------------*/

.players {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
 }

 .players::after {
  content: "";
  background-image: url("https://yarno-yarva.github.io/diplom/images/basketballer_991.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; top;
  position: absolute;
  top: 20px;
  height: 815px;
  left: 0px;
  right: -641px;
  bottom: 0;
  z-index: 3; 
  }

.players-content{
  width: 100%;
  max-width: 1534px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.players-text {
   max-width: 750px;
   margin-left: 48px;
   margin-bottom: 60px;
 }


/*------------------------ Profit -----------------*/


.profit {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

.block-profit {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.block-number-container {
  display: flex;
  position: absolute;
  top:210px ;
  left: 50%;
  margin-left: -83px;
  height: 152px;
  width: 166px;
  background-color: #5e42b0;
  z-index: 1;  
 } 

 .block-number {
  margin: auto;
  position: relative;
  top: 0;
  left: : 0;
  font-size: 24px;
  font-weight: bold;
  color: #f5f6f7;
  }

.block-number::after {
  content: "";
  position: absolute;
  display: block;
  top: 31px;
  left: 0;
  width: 28px;
  height: 5px;
  background-color: #8f7bc8;
  border-radius: 5px;
 }

.background-be-active{
  background-image: url("https://yarno-yarva.github.io/diplom/images/be-active_960.jpg");
  width: 50%;
  height: 730px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left; top;
}



.background-find-contact{
  background-image: url("https://yarno-yarva.github.io/diplom/images/find-contact_960.jpg");
  width: 50%;
  height: 730px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left; top;
  order: 1;

}

.background-work-it{
  background-image: url("https://yarno-yarva.github.io/diplom/images/work-it_960.jpg");
  width: 50%;
  height: 730px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left; top;
}


.profit-content {
  width: 50%;
 }

.be-active-content, .work-it-content {
    margin-top: 230px;
    margin-left: 130px;
    max-width: 650px;
}

.find-contact-content {
  margin-top: 230px;
  margin-right: 130px;
  margin-left: auto;
  max-width: 650px;
}

/*-------------------------- FOOTER --------------------*/

.footer-container  {
  height: 956px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; 
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  background-size: cover;
  background-image: url("https://yarno-yarva.github.io/diplom/images/game_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  opacity: 0.1; 
  
} 

.footer-logo {
  width: 184px;
  height: 53px;
  margin-bottom: 47px;
  margin-left: auto;
  margin-right: auto;
  fill: #ffffff;
}

.download-app {
  display: flex;
  margin-top: 226px;
}

.logo-no-text {
  width: 100px;
  height: 85px;
  margin: auto;
  fill: #ffffff;
}

.logo-container-footer {
  display: flex;
  width: 130px;
  height: 135px;
  border-radius: 20px;
  background-color: #7554d4;
}

.download-app-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.download-app-title {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.download-app-text {
  font-size: 30px;
  text-transform: uppercase;
  color: #a496ca
}

.market-buttons-footer {
  display: flex;
}


/*---------------- Media  min 1920-----------------*/


@media (min-width: 1920px) {
.profit {
 max-width: 2048px; 
}

.background-be-active{
     background-image: url("https://yarno-yarva.github.io/diplom/images/be-active_1024.jpg");
     height: 683px; 
}
.background-find-contact{
    background-image: url("https://yarno-yarva.github.io/diplom/images/find-contact_1024.jpg");
    height: 683px;
    order: 1; 
 }
.background-work-it{
   background-image: url("https://yarno-yarva.github.io/diplom/images/work-it_1024.jpg");
    height: 683px;  
}

}

/*---------------- Media -- 641-- 960  -----------------*/

@media (max-width: 960px) and (min-width: 641px) {

h1 {
  font-size: 64px;
}

h2 {
 font-size: 80px;  
}

h3 {
  font-size: 32px;  
}
  .container {
  max-width: 960px;
}

 .header::after {
  content: "";
  background-color: #0a0e34;
  background-size: cover;
  background-image: url("https://yarno-yarva.github.io/diplom/images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  opacity: 0.1; 
 }

.header-logo {
  width: 200px;
  }

.market-buttons {
     padding-bottom: 88px;
   }  

.button-text {
  font-size: 14px;
}

.athlets::after {
  content: "";
  background-image: url("https://yarno-yarva.github.io/diplom/images/footballer_497.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; top;
  position: absolute;
  top: 80px;
  height: 699px;
  left: -20%;
  right: 60%;
  bottom: 0;
  z-index: 3; 
  }

.athlets-title {
  margin-top: 60px;
  margin-left: 0px;
}

.athlets-content{
  width: 62%;
  margin-left: 38%;
  z-index: 1;
}

.connection {
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.collaboration {
  margin-top: 53px;
  margin-left: 0;
  margin-bottom: 10px;
}

.growth {
  margin-top: 53px;
  margin-left: 0;
  margin-bottom: 10px;
}

.athlets-text {
   max-width: 440px;
   margin-left: 0px;
   margin-bottom: 30px;
   font-size: 16px;
 }

.players::after {
  content: "";
  background-image: url("https://yarno-yarva.github.io/diplom/images/basketballer_436.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; top;
  position: absolute;
  top: 20px;
  height: 565px;
  left: 0px;
  right: -441px;
  bottom: 0;
  z-index: 3; 
  }

  .players-content{
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  z-index: 1;
}

.players-text {
  max-width: 456px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
  margin-left: 0;
 }


/*---------------- Media  -- 641-- 960  PROFIT -----------------*/

.profit {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

.block-profit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.block-number-container {
  display: flex;
  position: absolute;
  top:500px ;
  left: 0;
  margin-left: 35px;
  height: 116px;
  width: 116px;
  background-color: #5e42b0;
  z-index: 1;  
 } 

.background-be-active{
     background-image: url("https://yarno-yarva.github.io/diplom/images/be-active_960.jpg");
     height: 584px;
     width: 100%; 
}
.background-find-contact{
    background-image: url("https://yarno-yarva.github.io/diplom/images/find-contact_960.jpg");
    height: 584px;
    width: 100%; 
    order: 0;
 }
.background-work-it{
   background-image: url("https://yarno-yarva.github.io/diplom/images/work-it_960.jpg");
    height: 584px;
    width: 100%;  
}

.profit-content {
    width: 100%;
    max-width: 768px;
    align-self: center;
  }

.be-active-content, .work-it-content, .find-contact-content {
    margin-top: 70px;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 90px;
    max-width: 670px;
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.download-app-text-container {
    margin-left: 0; 
    margin-top: 80px;
    text-align: center;

}


}

/*---------------- Media -- 641 -----------------*/


@media (max-width: 640px) {

 h1 {
  font-size: 28px;
  line-height: 31px;
 } 

h2 {
  font-size: 50px;
}

h3 {
  font-size: 23px;
}

.container {
  height: 566px;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  background-size: cover;
  background-image: url("https://yarno-yarva.github.io/diplom/images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  opacity: 0.1; 
}
.header-title {
 width: 100%;
}
.header-title-down {
  margin-top: 20px;
  margin-left: 40px;
}

.header-logo {
  width: 130px;
  }

.market-buttons {
    width: 100%;
    flex-direction: column;
    padding-bottom: 83px
   }

.market-button-apple, .market-button-google {
  height: 33px;
  border-radius: 33px;
  justify-content: flex-start;
}
.market-button-apple {
  margin-right: 0;
  margin-bottom: 13px;
}

.logo-container {
  margin-left: 80px;
}

.logo-apple, .logo-google {
   width: 20px;
   fill: #ffffff;
}

.button-text {
  font-size: 8px;
}

.block-color-0 {
  height: 306px;
}

.block-color-1 {
  background-color: #fafafa;
}

.athlets::after {
  content: "";
  background-image: url("https://yarno-yarva.github.io/diplom/images/footballer_192.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; top;
  position: absolute;
  top: 80px;
  height: 281px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3; 
  }

  .players::after {
  content: "";
  background-image: url("https://yarno-yarva.github.io/diplom/images/basketballer_302.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; top;
  position: absolute;
  top: 80px;
  height: 281px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3; 
  }

.athlets-title, .players-title {
  margin-top: 20px;
  margin-left: 0px;
}
.athlets-content, .players-content {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 280px;
}

.connection {
  margin-top: 80px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.collaboration, .growth {
 margin-top: 54px;
 margin-left: 0px;
 margin-bottom: 10px; 
}

.athlets-text, .players-text {
   margin-left: 0px;
   margin-bottom: 30px;
   font-size: 14px;
}

.profit {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 }

.block-profit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.block-number-container {
  display: flex;
  position: absolute;
  top:295px ;
  left: 0;
  margin-left: 20px;
  height: 70px;
  width: 70px;
  background-color: #5e42b0;
  z-index: 1;  
 } 

 .block-number {
  font-size: 14px;
 }

.background-be-active{
     background-image: url("https://yarno-yarva.github.io/diplom/images/be-active_640.jpg");
     height: 350px;
     width: 100%;
     background-size: contain; 
}
.background-find-contact{
    background-image: url("https://yarno-yarva.github.io/diplom/images/find-contact_640.jpg");
    height: 350px;
    width: 100%; 
   background-size: contain;
    order: 0;
 }
.background-work-it{
   background-image: url("https://yarno-yarva.github.io/diplom/images/work-it_640.jpg");
    height: 350px;
    width: 100%;
    background-size: contain;  

}


.profit-content {
    width: 100%;
    max-width: 280px;
    align-self: center;
  }

.profit-title {
font-size: 28px;
}

.profit-text {
font-size: 16px;
}

.be-active-content, .work-it-content, .find-contact-content {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 80px;
    max-width: 280px;
}

}
